{% extends "layout.html" %}
{% block body%}
	<div class=entry>
		<p>Entry number {{ entry.id }}</p>
		<div class=text>
			<h1>{{entry.title}}</h1>
			<p>{{entry.text}}</p>
		</div><p>Tags:
		{% for tag in tags %}
			{% if tag.entry == entry.id%}
				{{tag.name}}
			{% endif %}
		{% endfor %}
	</div>
{% if session.logged_in %}
	<!-- Delete button -->
	<form action="{{ url_for('delete')}}" method="POST">
	<input type=hidden name=id value={{entry.id}}>
	<input type=submit value="Delete">
	</form>

	<!-- Edit button -->
	<form action="{{ url_for('edit') }}" method="POST">
	<input type=hidden name='id' value={{entry.id}}>
	<input type=submit value="Edit">
	</form>

	<!-- Add tags -->
	<form action="{{ url_for('add_tag') }}" method="POST">
	<input type=hidden name=entry value={{entry.id}}>
	<input type=text name=name>
	<input type=submit value="Add Tag">
	</form>
{% endif %}
<!-- Adding a comment -->
	<div class=comment>
	<dl>
	{% for comment in comments %}
		{% if entry.id == comment.entry %}
			<dt>Name:
			<dd>{{comment.name}}<br>
			<dd>{{comment.comment}}
			<form action="{{ url_for('delete_comment') }}" method="POST">
			<input type=hidden name=id value={{comment.id}}>
			<input type=hidden name=entry value={{entry.id}}>
			<input type=submit value="Delete Comment">
			</form>
		{% endif %}
	{% endfor %}
	</dl>
	<dl>
		<form action="{{ url_for('submit_comment') }}" method="POST">
		<dt>Name:
		<dd><input type=text name=name>
		<dt>Comment:
		<dd><textarea name=comment rows=5 cols=40></textarea>
		<input type=hidden name=entry value={{entry.id}}><br>
		<input type=submit value="Submit Comment">
	</form>
	</dl>
	</div>

{%endblock%}