{% extends "layout.html" %}
{% block body%}
	<div class=entries>
		<p class=num>Entry number {{ entry + 1 }}</p>
		<div class=body>
			<a href="{{i}}"><h1>{{title}}</h1></a>
			{{body|safe}}
		</div><p>Tags:
		{% for tag in tags %}
			<a href="../tag/{{tag}}">{{tag}}</a>
		{% endfor %}
	</div>
{% if session.logged_in %}

{% endif %}
<!-- Adding a comment -->
	<div class=comment>
	<dl>
	{% for comment in comments %}
		{% if entry == comment.entry %}
			<dt>Name:
			<dd>{{comment.name}}<br>
			<dd>{{comment.comment}}
			{% if session.logged_in %}
			<form action="{{ url_for('delete_comment') }}" method="POST">
			<input type=hidden name=id value={{comment.id}}>
			<input type=hidden name=entry value={{entry.id}}>
			<input type=submit value="Delete Comment">
			</form>
			{% endif %}
		{% endif %}
	{% endfor %}
	</dl>
	<dl>
		<form action="{{ url_for('submit_comment') }}" method="POST">
		<dt>Name:
		<dd><input type=text name=name>
		<dt>Comment:
		<dd><textarea name=comment rows=5 cols=40></textarea>
		<input type=hidden name=entry value={{entry}}><br>
		<input type=submit value="Submit Comment">
	</form>
	</dl>
	</div>

{%endblock%}