{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_entry')}}" method="post" class=add-entry>
			<dl>
				<dt>Title:
				<dd><input type=text size=30 name=title>
				<dt>Text:
				<dd><textarea name=text rows=5 cols=40></textarea>
				<dd><input type=submit value=Share>
			</dl>
		</form>
	{% endif %}
	<ul class=entries>
	{% for entry in entries %}
		<li>
			<h2>
				{{ entry.title }}
			</h2>
			{{ entry.text|safe }}<br><p>Tags:
			{% for tag in tags %}
				{% if tag.entry == entry.id%}
					{{tag.name}},
				{% endif %}
			{% endfor %}
		</li> 

		{% if session.logged_in %}
			<!-- Delete button -->
			<form action="{{ url_for('delete')}}" method="POST">
			<input type=hidden name=id value={{entry.id}}>
			<input type=submit value="Delete">
			</form>

			<!-- Edit button -->
			<form action="{{ url_for('edit') }}" method="POST">
			<input type=hidden name='id' value={{entry.id}}>
			<input type=submit value="Edit">
			</form>

			<!-- Add tags -->
			<form action="{{ url_for('add_tag') }}" method="POST">
			<input type=hidden name=entry value={{entry.id}}>
			<input type=text name=name>
			<input type=submit value="Add Tag">
			</form>

		{% endif %}
	{% else %}
		<li><em>No entries thus far.</em></li>
	
	{% endfor %}
	</ul>

{% endblock %}